body
{
background-image: linear-gradient(to right top, #b2a515, #4f25d9,#5b00b0 , #b318c1, #0d84c5, #09ac86);
}

h1 {
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

h4 {
    color:cyan;
}

img{
    width:37%;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgb(91, 0, 176)
}

#camera{
    width:500px;
    height:400px;
    border:1px;
}

.column {
    display:inline;
    padding:10px;
}

img:hover {
    border-radius: 140px;
}

.copy_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}